<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="demopolymer-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
      <h3>Mi valor es: [[prop2]]</h3>
  </template>

  <script>
    /**
     * `demopolymer-app`
     * Mi pirmera aplicacion polymer
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DemopolymerApp extends Polymer.Element {
      static get is() { return 'demopolymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'demopolymer-app'
          },
          prop2:
          {
            tyoe:Number,
            value:999
          }
        };
      }
    }

    window.customElements.define(DemopolymerApp.is, DemopolymerApp);
  </script>
</dom-module>
